#site-messages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

#site-messages div.notice-container {
    --sources-color-dark: rgba(200, 200, 200);
    width: 100%;
    position: relative;
}

#site-messages h3 {
    font-size: .9rem;
    background-color: var(--notice-color);
    padding: 0 .75rem 0 .75rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: .85rem;
    border: .25rem solid var(--notice-color);
    width: 50%;
    top: .25rem;
    margin: 0 auto;
    color: var(--bgColor);
    transform: translate(0, .5rem);
    z-index: 1;
}


#site-messages div.notice-container .notice {
    border-radius: 1rem;
    padding: 1.25rem 2rem 1rem 2rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 100%;
    position: relative;
    color: var(--bgColor);
    background: var(--notice-color);
}