@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color: rgba(50, 50, 50);
  --bgColor: rgba(245, 245, 245);
  --color-pfirst: #7b7;
  --color-pfirst-dark: #7a7;
  --pfirst-gradient: repeating-linear-gradient(120deg, var(--color-pfirst), var(--color-pfirst) .5rem, var(--color-pfirst-dark) .55rem, var(--color-pfirst-dark) 1rem);
  --color-pthird: #eeaF00;
  --color-pthird-dark: #ee9e00;
  --pthird-gradient: repeating-linear-gradient(120deg, var(--color-pthird), var(--color-pthird) .5rem, var(--color-pthird-dark) .55rem, var(--color-pthird-dark) 1rem);
  --color-pdraft: #b77;
  --color-pdraft-dark: #b66;
  --pdraft-gradient: repeating-linear-gradient(120deg, var(--color-pdraft), var(--color-pdraft) .5rem, var(--color-pdraft-dark) .55rem, var(--color-pdraft-dark) 1rem);
  --color-ppublished: #77b;
  --color-ppublished-dark: #76a;
  --ppublished-gradient: repeating-linear-gradient(120deg, var(--color-ppublished), var(--color-ppublished) .5rem, var(--color-ppublished-dark) .55rem, var(--color-ppublished-dark) 1rem);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background: var(--bgColor);
  position: relative;
}

body::after {
  content: '';
  position: absolute;
  background-size: 100rem;
  background-image: url('./imgs/logos/ra.svg');
  background-position: top;
  opacity: .05;
  background-repeat: no-repeat;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: -1;
  width: 60rem;
  margin: 0 auto;
}

/* Action Message */
div#action-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 2rem;
  background-color: #2a2;
  border-bottom: .25rem solid #080;
  color: var(--bgColor);
  z-index: 100;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  padding: .5rem 5rem;
  display: none;
}

div#action-message.animate {
  display: block;
  -webkit-animation: fadeinout 1.5s linear forwards;
  animation: fadeinout 1.5s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  10%,90% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  10%,90% { opacity: 1; }
}

/* Headers */
h1,
h2,
h3 {
  text-align: center;
  position: relative;
}

h1 {
  margin-bottom: 1.75rem;
}

h2 {
  margin: 2rem auto 1rem auto;
  border-bottom: solid #aaa .25rem;
}

a {
  font-weight: bold;
  color: #57f;
  text-decoration: none;
}

a:visited {
  color: #57f;
}

a:hover {
  text-decoration: underline dotted;
}

/* Credits */
.credits {
  margin-top: 1rem;
  text-align: right;
}

.credits a {
  color: var(--color);
}

/* Intro  */
.intro {
  width: min(60rem, 90%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.intro #site-messages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  max-height: 20rem;
}

.intro #site-messages div#notice-container {
    --notice-color: #4d4;
    --sources-color-dark: rgba(200, 200, 200);
    position:relative;
}

.intro #site-messages div#notice-container h3 {
    font-size: .9rem;
    background-color: var(--notice-color);
    padding: 0 .75rem 0  .75rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: .85rem;
    border: .25rem solid var(--notice-color);
    width: 50%;
    top: .25rem;
    margin: 0 auto;
    color: var(--bgColor);
  transform: translate(0, .5rem);
  z-index: 1;
}

.intro #site-messages div#notice-container .notice {
  border-radius: 1rem;
  padding: 1.25rem 2rem 1rem 2rem;
  align-content: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 100%;
  position: relative;
  color: var(--bgColor);
  background: var(--notice-color);
}

.intro #site-messages div#notice-container .notice::after {
  content: "";
  display: block;
  position: absolute;
  width: 95%;
  height: 1rem;
  background: rgba(50, 50, 50, 0.4);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
  z-index: -1;
  bottom: 0.25rem;
}

.intro #site-messages div#notice-container .notice.site-status {
  --notice-color: #D55;
}

.intro #site-messages div#notice-container .notice.site-status::before {
  content: "SITE STATUS";
  transform: translate(0, -2rem);
}

.intro p {
  display: block;
  margin-bottom: 1rem;
}

.intro ul li {
  margin-left: 2rem;
}

.intro .filters {
  margin-top: 1rem;
}

/* Legal */
div.legal {
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

div.legal svg {
  width: 25rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Tags */
.tag {
  padding: 0 .5rem;
  margin: 0 .25rem;
  background-color: #ccc;
  border-radius: 1rem;
  display: inline;
}