@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color: rgba(50, 50, 50);
  --bgColor: rgba(245, 245, 245);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}

/* Headers */
h1,
h2,
h3 {
  text-align: center;
  position: relative;
  --bgColor: rgba(245, 245, 245);
  background: var(--bgColor);
}

h1 {
  margin-bottom: 1.75rem;
}

h2 {
  margin-bottom: 1rem;
  border-bottom: solid #aaa .25rem;
}

a {
  font-weight: bold;
  color: #57f;
  text-decoration: none;
}

a:visited {
  color: #99e;
}

a:hover {
  font-size: 105%;
}

/* Credits */
.credits {
  margin-top: 1rem;
  text-align: right;
}

.credits a {
  color: var(--color);
}

/* Intro  */
.intro {
  width: min(60rem, 90%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.intro .notice {
  border-radius: 1rem;
  padding: 1.25rem 2rem 1rem 2rem;
  align-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100%;
  position: relative;
  margin: 2rem 0 2rem 0;
  color: var(--bgColor);
  background: var(--notice-color);
}

.intro .notice::before {
  position: absolute;
  display: block;
  padding: 0 .75rem 0  .75rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: .75rem;
  border: .25rem solid var(--notice-color);
  background: var(--bgColor);
  color: var(--notice-color);
}

.intro .notice.site-status {
  --notice-color: #D55;
}

.intro .notice.site-status::before {
  content: "SITE STATUS";
  transform: translate(0, -2rem);
}

.intro .notice.request {
  --notice-color: #5D5;

}

.intro .notice.request::before {
  content: "REQUEST";
  transform: translate(0, -2rem);
}

.intro p {
  display: block;
  margin-bottom: 1rem;
}

.intro ul li {
  margin-left: 2rem;
}

/* Legal */
div.legal {
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

div.legal svg {
  width: 25rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}