@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}

/* Headers */
h1,
h2,
h3 {
  text-align: center;
  position: relative;
  --bgColor: rgba(245, 245, 245);
  background: var(--bgColor);
}

h1 {
  margin-bottom: 1.75rem;
}

h2 {
  margin-bottom: 1rem;
  border-bottom: solid #aaa 2px;
}

/* Credits */
.credits {
  margin-top: 1rem;
  text-align: right;
}

.credits a {
  color: var(--color);
}

/* Intro  */
.intro {
  width: min(60rem, 90%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.intro .site-status {
  background: #D55;
  color: var(--bgColor);
  border-radius: 25px;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 2rem;
  align-content: center;
  text-align: center;
  font-size: 1.2rem;
}

.intro p {
  display: block;
  margin-bottom: 1rem;
}

.intro ul li {
  margin-left: 2rem;
}

/* Legal */
div.legal {
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

div.legal svg {
  width: 25rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}