/* Legend and filters */
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 100%;
}

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: min(60rem, 100%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

div.faction-legend,
div.source-legend,
div.publishing-attribute-legend {
  margin-right: auto;
  margin-left: auto;
  align-content: center;
}

div.faction-legend .faction,
div.source-legend .source .sname,
div.publishing-attribute-legend .publishing-attribute .paname {
  padding: .25rem .35rem .25rem .35rem;
  width: 17rem;
  border-radius: 1rem;
  margin: 2px auto 2px auto;
}


div.faction-legend .faction {
  background-color: var(--faction-color);
}

div.faction-legend .faction .logo {
  background-size: 100%;
  margin-left: -1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--bgColor);
  margin-right: .25rem;
  float: left;
}

div.faction-legend .faction {
  .fname {
    margin-left: 1.5rem;
  }

  .logo.ktb {
    background-image: url('./imgs/logos/ktb.svg');
  }

  .logo.union {
    background-image: url('./imgs/logos/union.svg');
  }

  .logo.ha {
    background-image: url('./imgs/logos/ha.svg');
  }

  .logo.aun {
    background-image: url('./imgs/logos/aun.svg');
  }

  .logo.albatross {
    background-image: url('./imgs/logos/albatross.svg');
  }

  .logo.gms {
    background-image: url('./imgs/logos/gms.svg');
  }

  .logo.horus {
    background-image: url('./imgs/logos/horus.svg');
  }

  .logo.ipsn {
    background-image: url('./imgs/logos/ipsn.svg');
  }

  .logo.sparri {
    background-image: url('./imgs/logos/sparri.svg');
  }

  .logo.ssc {
    background-image: url('./imgs/logos/ssc.svg');
  }

  .logo.voladores {
    background-image: url('./imgs/logos/voladores.svg');
  }
}

div.source-legend .source .sname,
div.publishing-attribute-legend .publishing-attribute .paname {
  background-color: #555;
  color: white;

}

.faction.hidden,
.source.hidden,
.publishing-attribute.hidden {
  text-decoration: line-through 3px #f00;
  opacity: 50%;
}