/* Timeline */

/* Timeline */
.timeline ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 100%);
    margin-inline: auto;
}

/* line */
.timeline ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 500;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
}

.timeline {
    width: min(60rem, 90%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

/* columnar grid styles */
@media (min-width: 10rem) {
    .timeline ul {
        grid-template-columns: 1fr var(--line-w) 1fr;
    }

    .timeline ul::before {
        grid-column: 2;
    }
}