/* row gaps */
.timeline ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
}

/* card */
.timeline ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

.timeline ul li a,
.timeline ul li a:visited {
    color: #8888EE;
    font-weight: bold;
    text-decoration: none;
}

.timeline ul li div.shareable-link {
    content: "";
    display: block;
    position: relative;
    float: right;
    background-image: url('./imgs/link-icon-symbol.svg');
    background-color: #ddd;
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 50% 50%;
    width: 1rem;
    height: 1rem;
    margin-left: .5rem;
    border-radius: .25rem;
    padding: .75rem;
}

.timeline ul li div.shareable-link:hover {
    border: .2rem solid #8888ee;
    background-color: #ccccff;
    bottom: .2rem;
    left: .2rem;
}

/* date */
.timeline ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: var(--accent-color-1);

    color: white;
    font-size: 1.25rem;
    font-weight: 700;

    display: grid;
    place-content: center;
    position: relative;
}

/* date flap */
.timeline ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color-1);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;

    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
}

/* Circle in vertical timeline bar */
.timeline ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color-1);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr source */
.timeline ul li .title,
.timeline ul li .descr,
.timeline ul li div.source {
    background: var(--bgColor);
    position: relative;
    padding-inline: 1.5rem;
}

.timeline ul li .title {
    overflow: hidden;
    padding-block-start: 1.3rem;
    padding-block-end: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.timeline ul li .source {
    padding-block-start: .5rem;
    padding-block-end: .5rem;
    font-size: .75rem;
    font-weight: 300;
    font-style: italic;
    max-height: calc(var(--num-sources) * 2.5rem);
}

.timeline ul li .descr {
    padding-block-end: .5rem;
    font-size: .9rem;
    font-weight: 300;
}

/* Shadows */
.timeline ul li .title::before,
.timeline ul li .source::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
}

.timeline-entry-source {
    display: block;
}

.timeline ul li .title::before {
    bottom: calc(100% + 0.125rem);
}

.timeline ul li .source::after {
    z-index: -1;
    bottom: 0.25rem;
}

/* factions */
li.timeline-entry .factions {
    z-index: 2;
    position: relative;
    top: 1.5rem;
}

li.timeline-entry .factions span {
    background-color: var(--bgColor);
    background-size: 100%;
    border: 0.3rem solid var(--faction-color);
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    display: block;
    float: left;
}

li.timeline-entry .factions .ktb {
    background-image: url('./imgs/logos/ktb.svg');
}

li.timeline-entry .factions .union {
    background-image: url('./imgs/logos/union.svg');
}

li.timeline-entry .factions .ha {
    background-image: url('./imgs/logos/ha.svg');
}

li.timeline-entry .factions .aun {
    background-image: url('./imgs/logos/aun.svg');
}

li.timeline-entry .factions .albatross {
    background-image: url('./imgs/logos/albatross.svg');
}

li.timeline-entry .factions .gms {
    background-image: url('./imgs/logos/gms.svg');
}

li.timeline-entry .factions .horus {
    background-image: url('./imgs/logos/horus.svg');
}

li.timeline-entry .factions .ipsn {
    background-image: url('./imgs/logos/ipsn.svg');
}

li.timeline-entry .factions .sparri {
    background-image: url('./imgs/logos/sparri.svg');
}

li.timeline-entry .factions .ssc {
    background-image: url('./imgs/logos/ssc.svg');
}

li.timeline-entry .factions .voladores {
    background-image: url('./imgs/logos/voladores.svg');
}


/* columnar grid styles */
@media (min-width: 10rem) {
    .timeline ul li:nth-child(odd) {
        grid-column: 1;
    }

    .timeline ul li:nth-child(even) {
        grid-column: 3;
    }

    /* start second card */
    .timeline ul li:nth-child(2) {
        grid-row: 2/4;
    }

    .timeline ul li:nth-child(odd) .date::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        left: 0;
    }

    .timeline ul li:nth-child(odd) .date::after {
        transform: translate(-50%, -50%);
        left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }

    .timeline ul li:nth-child(odd).factions-1 .date {
        background-image: linear-gradient(120deg, var(--accent-color-1) 88%, var(--bgColor) 88.5%, var(--bgColor) 89%, var(--accent-color-1) 89.5%, var(--accent-color-1) 90.5%, var(--bgColor) 91%, var(--bgColor) 91.5%, var(--accent-color-1) 92%, var(--bgColor) 92.75%);
        background-size: 100%;
    }

    .timeline ul li:nth-child(even).factions-1 .date {
        background-image: linear-gradient(240deg, var(--accent-color-1) 88%, var(--bgColor) 88.5%, var(--bgColor) 89%, var(--accent-color-1) 89.5%, var(--accent-color-1) 90.5%, var(--bgColor) 91%, var(--bgColor) 91.5%, var(--accent-color-1) 92%, var(--bgColor) 92.75%);
        background-size: 100%;
    }

    .timeline ul li:nth-child(odd).factions-2 .date {
        background-image: linear-gradient(120deg, var(--accent-color-1) 50%, var(--accent-color-2) 50.5%, var(--accent-color-2) 88%, var(--bgColor) 88.5%, var(--bgColor) 89%, var(--accent-color-2) 89.5%, var(--accent-color-2) 90.5%, var(--bgColor) 91%, var(--bgColor) 91.5%, var(--accent-color-2) 92%, var(--bgColor) 92.75%);
        background-size: 100%;
    }

    .timeline ul li:nth-child(even).factions-2 .date {
        background-image: linear-gradient(240deg, var(--accent-color-1) 50%, var(--accent-color-2) 50.5%, var(--accent-color-2) 88%, var(--bgColor) 88.5%, var(--bgColor) 89%, var(--accent-color-2) 89.5%, var(--accent-color-2) 90.5%, var(--bgColor) 91%, var(--bgColor) 91.5%, var(--accent-color-2) 92%, var(--bgColor) 92.75%);
        background-size: 100%;
    }

    .timeline ul li:nth-child(odd).factions-3 .date {
        background-image: linear-gradient(120deg, var(--accent-color-1) 33%, var(--accent-color-2) 33.5%, var(--accent-color-2) 66% , var(--accent-color-3) 66.5%, var(--accent-color-3) 88%, var(--bgColor) 88.5%, var(--bgColor) 89%, var(--accent-color-3) 89.5%, var(--accent-color-3) 90.5%, var(--bgColor) 91%, var(--bgColor) 91.5%, var(--accent-color-3) 92%, var(--bgColor) 92.75%);
        background-size: 100%;
    }

    .timeline ul li:nth-child(even).factions-3 .date {
        background-image: linear-gradient(240deg, var(--accent-color-1) 33%, var(--accent-color-2) 33.5%, var(--accent-color-2) 66% , var(--accent-color-3) 66.5%, var(--accent-color-3) 88%, var(--bgColor) 88.5%, var(--bgColor) 89%, var(--accent-color-3) 89.5%, var(--accent-color-3) 90.5%, var(--bgColor) 91%, var(--bgColor) 91.5%, var(--accent-color-3) 92%, var(--bgColor) 92.75%);
        background-size: 100%;
    }

    .timeline ul li:nth-child(even) .factions {
        z-index: 2;
        position: relative;
        margin-left: auto;
        top: 1.5rem;
    }

    .timeline ul li:nth-child(odd) .factions {
        z-index: 2;
        position: relative;
        margin-right: auto;
        top: 1.5rem;
    }
}